<html>

<h1>Your OTP Code</h1>

<h2>The code is valid for 10 minutes.</h2>

<strong style="font-size: 130%">{{code}}</strong>

<p>If you didn’t request this, you can ignore this email.</p>

<p>Thanks,</p>
<p><b>Road Ready<b></p>
</html>